body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #293755 !important;
}

.user_card {
	height: auto;
	width: auto;
	margin-top: auto;
	margin-bottom: auto;
	background: #f28f38;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.brand_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -100px;
	border-radius: 27%;
	background: #293755;
	padding: 0px 28px;
	text-align: center;
}

.brand_logo_container1 {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -140px;
	border-radius: 27%;
	background: #293755;
	padding: 0px 30px;
	text-align: center;
}

.brand_logo {
	height: 150px;
	width: 150px;
	/* border-radius: 50%; */
	/* border: 2px solid white; */
}

.form_container {
	margin-top: 5%;
  padding-top: 10%;
}

.login_btn {
	width: 100%;
	background: #015a9f !important;
	color: white !important;
}

.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.login_container {
	padding: 0 2rem;
}

.input-group-text {
	background: #015a9f !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user, .input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #018679 !important;
}

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}

.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
 top: 55%;
  left: 0;
  z-index: 1;
}

.contenedor{
  margin: 5%  10%;
  width: 80%;
}

.nav-link{
	border: 1px;
	border-color: #f28f38
}

.box{
  width: 100%;
  height: 150px;
  object-fit: cover;
	object-position: center;
}

.box-user{
	height: auto;
	width: auto;
	padding: 10px 0;
	object-position: center;
}

.box-user img {
	border-radius: 100px;
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center;
}

/* .box img{
  width: 100%;
  height: auto;
	margin-top: -23%;
	object-fit: cover;
	object-position: center;
} */

.box-banner {
	width: 100%;
	height: 400px;
	object-fit: cover;
}
